.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 25rem;
    padding: 0rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    flex-direction: row;
    /* height: auto; */
    height: var(--slide-height);
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__slide__number {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
  }
  .embla__slide__number > span {
    color: var(--brand-primary);
    background-image: linear-gradient(
      45deg,
      var(--brand-primary),
      var(--brand-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .embla-thumbs {
    --thumbs-slide-spacing: 0.8rem;
    --thumbs-slide-height: 5rem;
    margin-top: var(--thumbs-slide-spacing);
    
  }
  .embla-thumbs__viewport {
    overflow: hidden;
  }
  .embla-thumbs__container {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
  }
  .embla-thumbs__slide {
    flex: 0 0 25%;
    min-width: 0;
    padding-left: var(--thumbs-slide-spacing);
    position: relative;
  }
  @media (min-width: 576px) {
    .embla-thumbs__slide {
      flex: 0 0 18%;
    }
  }
  @media (max-width: 600px){
    .embla-thumbs__container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .embla-thumbs__slide__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.70;
    transition: opacity 0.2s;
  }
  .embla-thumbs__slide--selected .embla-thumbs__slide__button {
    opacity: 1;
    border-color: #002049;
  }
  .embla-thumbs__slide__img {
    display: block;
    height: var(--thumbs-slide-height);
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .embla-thumbs__slide__number {
    width: 3rem;
    height: 3rem;
    z-index: 1;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 3rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
  }
  .embla-thumbs__slide__number > span {
    color: var(--brand-primary);
    background-image: linear-gradient(
      45deg,
      var(--brand-primary),
      var(--brand-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  